<footer>

	<div class='container'>
		<div class='row'>
			<%= link_to("Home", "/", class: 'button') %>
			<% if @is_locked %>
				<%= link_to("Unlock", "lock?lock_type=unlocked", class: 'button') %>
			<% else %>
				<%= link_to("Lock", "lock?lock_type=locked", class: 'button') %>
			<% end %>

			<% if flash[:lock_state_changed] %>
				<%= flash[:lock_state_changed]%>
			<% end %>

		</div>
	</div>

</footer>
