<!-- log_list.erb-->
<% @log_entries.each do |log_entry| %>
	<tr>
		<td>
			<% log_entry.created_at %>
		</td>
		<td>
			<% log_entry.cid %>
		</td>
		<td>
			<% log_entry.change %>
		</td>
	</tr>
<% end %>