<main>
	<div class="container">
		<div>
			<table class='striped'>
				<thead>
					<tr>
						<th data-field="time"> Time </th>
						<th data-field="cid"> CID </th>
						<th data-field="entry"> Entry </th>
					</tr>
				</thead>
				<tbody>
					<%= render partial: 'log_list' %>
				</tbody>
			</table>
				<div class='section'>
					<%= will_paginate @log_entries, renderer: FoundationPagination::Rails %>
				</div>
		</div>
	</div>
</main>

<%= render partial: 'footer' %>
