<!-- Requires an local value of i passed when rendering the partial like:-->
<!-- render partial: 'bulb_controls', locals: {i: a number} -->

<div class="column small-12 medium-6 valign-wrapper light-row">
  <div class="column small-4 align-container">
    <div class="switch">
      <%= check_box_tag "switch_#{light.id}", 'on/off', light.on,
              onclick:"switchOnOff(#{light.id});", name: nil, class: "switch-input" %>
      <label for=<%="switch_#{light.id}"%> class="switch-paddle" >
        <span class="switch-active" aria-hidden="true">On</span>
        <span class="switch-inactive" aria-hidden="true">Off</span>
      </label>
     </div>
  </div>
  <div class="column small-3">
    <%= content_tag :div, nil, id: "color_shower_#{light.id}", class: "bulb", data: {light_id: light.id} %>
  </div>
  <div class="column small-4">
    <label class="label--checkbox">
      <%= check_box_tag "lights[#{light.id}]", '', false, class: 'checkbox' %>
      Select
    </label>
  </div>
</div>
