<!-- Requires an local value of i passed when rendering the partial like:-->
<!-- render partial: 'bulb_controls', locals: {i: a number} -->

<div class="col s12 m6 valign-wrapper">
  <div class="col s4 valign">
    <div class="switch">
      <label>
          <%= check_box_tag "switch_#{i}", 'on/off', @lights[i-1].on,
              onclick:"switchOnOff(#{i},#{@lights[i-1].hue},#{@lights[i-1].sat},#{@lights[i-1].bri});" %>
            <span class="lever"></span>
       </label>
     </div>
  </div>
  <div class="col s3 valign">
    <canvas onclick="setSliders(<% i %>)" id= <%= "color_shower_#{i}" %>  width="30" height="30">
  </div>
  <div class="col s4 valign">
    <%= check_box_tag "lights[#{i}]", 'yes', false, class: 'filled-in' %>
    <%= label_tag "select_#{i}", "Select", for: "lights_#{i}" %>
  </div>
</div>
