<%= render partial: 'button_actions' %>

<%= form_tag(multi_update_lights_path, remote:true, id: 'hue-form') do %>

    <div id="light-actions" class="column small-12 actions">
        <%= render partial: 'lights_list' %>
    </div>

    <%= render partial: 'slider_actions' %>

<% end %>
