<%= form_tag(multi_update_lights_path, remote:true) do %>

<%= render partial: 'button_actions' %>

<div id="light-actions" class="col s12 actions">
<%=
	begin
		render partial: 'lights_list'

	rescue
		end
	%>
</div>

<%= render partial: 'slider_actions' %>

<% end %>
