<main>
	<% if current_user.present? %>
		<% content_for :headJavascript do %>
			<script>
				var lights = <%= @lights.to_json.html_safe %>
				var isPartyOn = <%= ($is_party_on || false).to_s.html_safe %>
				$(document).on('page:load', ready);
				$(document).ready(ready);
			</script>
		<% end %>
			<% if is_locked %>
				<div class='callout large primary' id='lockbar'>
					<h2 class="flash-heading">hueIT is locked</h2>
				</div>
			<% else %>
				<div class='container'>
					<div class='content'>
						<%= render 'form' %>
					</div>
			</div>
			<% end %>
	<% end %>
</main>
