button.radius, .button.radius {
  border-radius: 2px;
}

.switch {
  margin: 0px;
}

.button {
  border-radius: 2px;
}

input[type="submit"] {
  font-weight: bold;
}

header {
  padding: 20px;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
  background-color: #fff;
}

main {
  padding-bottom: 4vw;
}
