// Place all the styles related to the light controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
	padding : 0;
	margin : 0;
	border : 0;
}

body{
	background-size : 100% auto;
}

.light_picker{
	// background-color : rgba(100, 100, 100, 1);
	overflow: auto;
	float: left;
	width: 204;
	height: 263;
}

.blended_grid{
	display : block;
	width : 1000px;
	overflow : auto;
	margin : 50px auto 0 auto;
}

.pageHeader{
	background-color : rgba(0, 0, 256, 0.5);
	float : left;
	clear : none;
	height : 200px;
	width : 1000px;
}

.pageLeftMenu{
	background-color : rgba(0, 256, 0, 0.5);
	float : left;
	clear : none;
	height : 600px;
	width : 160px;
}

.pageContent{
	background-color : rgba(256, 0, 0, 0.5);
	float : left;
	clear : none;
	height : 600px;
	width : 680px;
}

.pageRightMenu{
	background-color : rgba(256, 256, 0, 0.5);
	float : left;
	clear : none;
	height : 600px;
	width : 160px;
}

.pageFooter{
	background-color : rgba(256, 0, 256, 0.5);
	float : left;
	clear : none;
	height : 100px;
	width : 1000px;
}

.hubben-pic{
	background: image-url("hubben2.1.png") no-repeat;
	width: 204px;
	height: 263px;
	position: relative;
	label {
		width: 25px;
		height: 42px;
		background: image-url('light-red25x42.png') no-repeat 0 0;
		position: absolute;
	}
	input:checked ~ label{
		background: image-url('light-green25x42.png') no-repeat 0 0;
	}
	input[type="checkbox"]{
		display: none;
	}
}
.bulb {
    height: 30px;
    width: 30px;
    border: 3px solid rgba(237, 237, 237, 1);
    border-radius: 30px;
}
