// Place all the styles related to the PresetColors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.preset-color-list {
  display: flex;
  flex-flow: row wrap;
}

.preset-color {
  height: 4em;
  width: 4em;
  border-radius: 6px;
  margin-right: 5px;
  cursor: pointer;
  flex: 1;
  &:last-child {
    margin-right: 0px;
  }
}

.preset-color:hover {
  opacity: 0.6;
}
