// Place all the styles related to the PresetColors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.preset-color-list {
  display: flex;
  flex-flow: row wrap;
}

.preset-color {
  height: 5em;
  width: 5em;
  border-radius: 2px;
}
