.slider-bg {
  display: flex;

  justify-content: center;
  align-items: center;
  height: 30px;
  border: 1px solid #5a5a5a;
  border-radius: 5px;
  margin: 1em 0;
}

.range {
  display: inline-block;
  margin: 36px 20px 20px
}

input[type=range] {
  -webkit-appearance: none;
  position: relative;
  width: 95%;
  height: 30px;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 2px;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  display: block;
  -webkit-appearance: none;
  border: none;
  height: 12px;
  width: 12px;
  border-radius: 510%;
  background: #EEE;
  border: 2px solid #A1A1A1;
  margin-top: -5px;
}

.clicked::-webkit-slider-thumb {
  transform: scale(2.0)
}

input[type=range]:focus {
  outline: none
}
